<body>
    <header>
        <h1> Welcome (User)</h1>

        <div class="container" style="height: 40px; ">
            <h1>Mentor Dashboard</h1>
            <span>
                <button class="buttons" id="searchButton" routerLink="/search">Search Candidates</button>
                <button class="buttons" id="addButton" routerLink="/add">Add Candidates</button>
                <button class="buttons" id="viewButton" routerLink="/view">View All Candidates</button>
            </span>
        </div>
        <div>
            <button id="addAdmin" routerLink="/signup">Add admin</button>
            <button id="logout" routerLink="">Logout</button>
        </div>
    </header>

</body>